body
{
  background-size: 100%;
  animation-name: fade_in;
  animation-duration: 0.3s;
  margin:0px;
  overflow: hidden;
}

.mainframe
{
  border: 0px solid white;
  margin-top: 0%;
  height: 100%;
  width: 100%;
}